<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=karanstorage;AccountKey=UWzb9DcHwQ/Mknlmz9m33Fdv6dEYe4DlfXXCGGsJr++9REMKQfJAbUMfKu2zwGgRkHnVFdQWQQSn4JzuGam2jg==;EndpointSuffix=core.windows.net"></add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>